@import './variables.css';

* {
	scrollbar-width: thin;
	scrollbar-color: var(--mono5) transparent;
}

body {
	text-rendering: optimizeLegibility;
	color: var(--text-color);
	font-family: var(--font-geist-sans);
	background-color: var(--bg);
	padding-inline: var(--body-margin);
}
